@media print {
    @page {
        size: A4 portrait;
    }

    @page :left {
      margin-left: 4cm;
      margin-right: 3cm;
    }
    
    @page :right {
      margin-left: 3cm;
      margin-right: 4cm;
    }

    * {
        color: #000 !important;
        text-shadow: none !important;
        background: transparent !important;
        box-shadow: none !important;
    }

    table {
        margin: 0;
    }

    #header {
        display: none;
    }

    #forms {
        display: none;
    }

    #message {
        display: none;
    }

    #noprint {
        display: none;
    }

    footer {
        display: none;
    }
}
 
.full {
  width: 100%;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}


  .AnotherFlexWrapper {
    display: flex;
  }
  .AnotherFlexWrapper .FlexItems {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0 0 -0;
    
  }
  .AnotherFlexWrapper .FlexHeader {
    order: 1;
  }
  .AnotherFlexWrapper .FlexSideOne {
    order: 3;
  }
  .AnotherFlexWrapper .FlexSideTwo {
    order: 4;
    text-align: right;
  }
  .AnotherFlexWrapper .FlexFullWidth {
    order: 5;
  }
  .AnotherFlexWrapper .FlexCodeBarre {
    order: 2;
  }
  
    .AnotherFlexWrapper {
      flex-flow: row wrap;
    }
    .AnotherFlexWrapper .FlexHeader {
      width: 100%;
    }
    .AnotherFlexWrapper .FlexCodeBarre {
      width: 31%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      order: 3;
    }
    .AnotherFlexWrapper .FlexSideOne {
      width: 33%;
      order: 2;
    }
    .AnotherFlexWrapper .FlexSideTwo {
      width: 33%;
      order: 4;
    }
    .AnotherFlexWrapper .FlexFullWidth {
      width: 100%;
    }





.template {
  /* background-color: aquamarine; */
  border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.classSticker {
  background-color: rgba(163, 197, 186, 0.973);
}

.classTemplate {
  background-color: rgb(216, 255, 175);
}

.classCb {
  background-color: rgb(199, 184, 206);
}

.border {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.stickerCenter{
 text-align: center;
}

table {
  border-collapse: collapse;
  color: #000;
  width: 100%;
}

th>.truncate, td>.truncate{
  width: auto;
  min-width: 0;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.flex-container-outer {
  height: 10em;
  display: flex;
  border: 2px solid black;
}

.flex-container-label {
  height: 2em;
  display: flex;
  border: 2px solid black;
}

.flex-item {
  padding: 1em;
  text-align: center;
}

.flex-item-cb {
  width: 33%;
  border: 2px solid gray;
  height: 6em;

  white-space: nowrap;

}

.flex-container-inner {
  width: 33%;
  height: 2em;

  /* min-height: inherit; */
  display: flex;
  flex-direction: column;
}

.flex-item-standard {
  height: 25%;
  /* overflow: hidden; */
  white-space: nowrap;
}
